* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: x-large;
    text-align: center;
    background-color: olivedrab;
    color: white;
    padding: 8px;
    margin: 0;
}

.recipeList {
    margin: 8px;
}

.recipeButton {
    background-color: rgb(234, 148, 148);
    color: white;
    padding: 16px;
    margin: 6px auto;
    display: block;
}

button {
    border: 0;
    background-color: rgb(234, 148, 148);
    margin: auto;
    color: white;
}

button:hover {
    color: black;
}